@page
@model Activ.EQM.WebUI.Pages.ajoutactionpointModel
@{
    ViewData["Title"] = " Ajout action Point page";
}
@section scripts {
    <script type="text/javascript">

        function ajouter() {

            //var form = document.querySelector('form');
            //var data = new FormData(form);
            var t = document.getElementById("titre").value;
            var d = document.getElementById("description").value;
            var turn = document.getElementById("delai").value;
            var p = document.getElementById("participant").value;
            var m = document.getElementById("manager").value;
            var third = document.getElementById("processus").value;
            var create = document.getElementById("created").value;

            var data = {
                Title: t,
                Description: d,
                TurnaroundTimes: turn,
                Participants: p,
                Manager: m,
                ThirdPartyProcesses: third,
                CreateBy: create
            }

            console.log(data);

            fetch('http://localhost:5000/Process', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            alert("Enregistrement reussi !");
            location.replace('https://localhost:7135/processus');

        }

    </script>

}
    <!-- Default Basic Forms Start -->
    <div class="pd-20 card-box mb-30">
        <div class="clearfix">
            <div class="pull-left">
                <h4 class="text-blue h4">Plan action</h4>
            </div>

        </div>
        <form>
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Titre</label>
                <div class="col-sm-12 col-md-10">
                    <input class="form-control" id="titre" type="text" placeholder="titre">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Description</label>
                <div class="col-sm-12 col-md-10">
                    <textarea class="form-control" id="description" rows="4" cols="112"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Manager</label>
                <div class="col-sm-12 col-md-10">
                    <input type="text" id="manager" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Ordre </label>
                <div class="col-sm-12 col-md-10">
                    <input class="form-control" id="ordre" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Priorite</label>
                <div class="col-sm-12 col-md-10">
                    <textarea class="form-control" id="priorite" rows="4" cols="112"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Statuts</label>
                <div class="col-sm-12 col-md-10">
                    <input type="text" id="status" class="form-control">
                </div>
            </div>
             <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Date debut prevu</label>
                <div class="col-sm-12 col-md-10">
                    <input class="form-control date-picker" placeholder="Select Date" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Date fin prevu</label>
                <div class="col-sm-12 col-md-10">
                    <input class="form-control date-picker" placeholder="Select Date" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Date debut effective</label>
                <div class="col-sm-12 col-md-10">
                    <input class="form-control date-picker" placeholder="Select Date" type="text">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Date fin effective</label>
                <div class="col-sm-12 col-md-10">
                    <input class="form-control date-picker" placeholder="Select Date" type="text">
                </div>
            </div>
            
            <div class="text-center">
                <a class="btn btn-primary btn-sm  " asp-area="" asp-page="/ajoutactionplan" role="button">Ajouter</a>
                <button type="button" onclick="ajouter();" class="btn btn-primary btn-sm">Enregistrer</button>
            </div>

        </form>
    </div>
                           </div>
                            </div>
    <!-- Default Basic Forms End -->
