@page
@model Activ.EQM.WebUI.Pages.editactionpointModel
@{
    ViewData["Title"] = "edit action point page";
}
<script type="text/javascript">

	let ident = sessionStorage.getItem("modif");
	function modifier() {

		var t = document.getElementById("titre").value;
		var create = document.getElementById("createBy").value;

		var data = {
			Title: t,
			CreateBy: create
		}

		console.log(data);

		fetch('http://localhost:5000/ActionPointNature/' + ident, {
			method: 'PUT',
			headers: {
				'content-type': 'application/json'
			},
			body: JSON.stringify(data)
		});

		let choix = confirm('Voulez vous vraiment modifier cet élement ?');
		if (choix) {
			alert("Modification reussi !");
			location.replace('https://localhost:7135/pointnature');
		}
		else {
			alert("Modification annulée !");
			location.replace('https://localhost:7135/pointnature');
		}

	}
</script>
                     
<!-- Default Basic Forms Start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Action point</h4>
						</div>
						
					</div>
	<form id="form" method="post">

		<script>

			let ident = sessionStorage.getItem("modif");
			let titre ;
			let create ;

			fetch('http://localhost:5000/ActionPointNature/' + ident)
				.then(res => res.json())
				.then(data => {
					console.log(data);

					titre = `${data.title}`;
					create = `${data.createBy}`;

					document.getElementById("titre").value = titre;
					document.getElementById("createBy").value = create;
				});

		</script>


		<div class="form-group row">
			<label class="col-sm-12 col-md-2 col-form-label">Titre</label>
			<div class="col-sm-12 col-md-10">
				<input class="form-control" id="titre" type="text">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-sm-12 col-md-2 col-form-label">Cree par</label>
			<div class="col-sm-12 col-md-10">
				<input type="text" id="createBy" class="form-control">
			</div>
		</div>


		<div class="text-center">

			<button type="button" onclick="modifier();" class="btn btn-danger btn-sm">Retour</button>
		</div>

	</form>

</div>
					</div>
				</div>